<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc/jdbc.properties"/>
</bean>
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="${driverClassName}"/>
	<property name="url" value="${url}"/>
	<property name="username" value="${username}"/>
	<property name="password" value="${password}"/>
</bean>
<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	<property name="configLocation"><value>classpath:SqlMapConfig.xml</value></property>
	<property name="dataSource"><ref bean="dataSource"/></property>
 </bean>
<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
	<property name="sqlMapClient"><ref bean="sqlMapClient"/></property>
</bean>
<!-- 该 BeanPostProcessor 将自动起作用，对标注 @Autowired 的 Bean 进行自动注入 -->
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
<!-- 配置事务管理器 -->
<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource">
</bean>
<!-- 配置多个事务管理器 -->
<!--<bean id="tran_1"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource">
	<qualifier value="tran_1"/>
</bean>
@Transactional("tran_1")
-->
<!-- enables scanning for @Transactional annotations -->
<tx:annotation-driven transaction-manager="transactionManager"/>
<bean id="iChatfriendDao" class="com.nettychat.dao.chatfriend.ChatfriendDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iChatfriendService" class="com.nettychat.service.chatfriend.ChatfriendServiceImpl"></bean>
<bean id="iChatgroupDao" class="com.nettychat.dao.chatgroup.ChatgroupDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iChatgroupService" class="com.nettychat.service.chatgroup.ChatgroupServiceImpl"></bean>
<bean id="iChatmessageDao" class="com.nettychat.dao.chatmessage.ChatmessageDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iChatmessageService" class="com.nettychat.service.chatmessage.ChatmessageServiceImpl"></bean>
<bean id="iChatuserDao" class="com.nettychat.dao.chatuser.ChatuserDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iChatuserService" class="com.nettychat.service.chatuser.ChatuserServiceImpl"></bean>
<bean id="iGroupuserDao" class="com.nettychat.dao.groupuser.GroupuserDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iGroupuserService" class="com.nettychat.service.groupuser.GroupuserServiceImpl"></bean>
<bean id="iMessagebackupDao" class="com.nettychat.dao.messagebackup.MessagebackupDaoImpl"><property name="sqlMapClient" ref="sqlMapClient"/></bean>
<bean id="iMessagebackupService" class="com.nettychat.service.messagebackup.MessagebackupServiceImpl"></bean>
</beans>
